<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      img.center {
        display: block;
        margin: 0 auto;
      }
      table, td, th {  
        border: 1px solid #ddd;
        text-align: left;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        padding: 15px;
      }
      tr:nth-child(even) 
    </style>

    <title>Instructions</title>
    <link rel="Favicon" href="static/favicon.ico" />

    <script src="static/lib/jquery-min.js" type="text/javascript"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">

<br />
<br />
<br />

<p>
	You are being asked to be a volunteer in a research study. The purpose of this study is to
evaluate the naturalness and efficacy of an artificial intelligence (AI) learning tasks
from instructors in a video game environment.
</p>

<p>
To support this investigation, you will be asked to teach an agent how to complete tasks
in a game-based environment via a text-based dialog. You will then be asked to provide
feedback about the experience, first via a web survey, and then potentially via a
semi-structured interview with a researcher to follow immediately after the web survey.
We will record the text chat data captured while you are teaching, your responses to the
web survey, and a text transcript of your interview. The anonymized data from each of
these steps will become part of a dataset and may be published, in full or in part, at any
time. You may revoke your consent for any or all of these components to be published
up until the conclusion of the session.
</p>

<p>
The tutoring session will take approximately one hour, and may take up to two hours;
the length is up to you, and the study will be over when you feel you have successfully
communicated all of the tasks to the learning agent, and have finished the post-task
survey and interview. Note that we will not capture any microphone or webcam data, so
no personal or identifying information will be collected; if any personal or identifying
information is provided as a part of the interview, we will go over it with you and
remove it from the transcript prior to the conclusion of your session. The risks involved
in this study are no greater than those involved in daily activities.
</p>

<p>
You will not benefit directly from this study but will be compensated at a rate of
$20/hour, rounded up to the nearest whole hour, payable as either cash or gift card.
</p>

<p>
We will comply with any applicable laws and regulations regarding confidentiality. To
make sure that this research is being carried out in the proper way, the Georgia Institute
of Technology IRB may review study records. The Office of Human Research
Protections may also look at study records.
</p>

<p>
If you have any questions about the study,
you may contact Dr. Christopher MacLellan (principal investigator) at 404-894-6760 or
Dr. Lane Lawley (co-principal investigator) at 585-503-5726. If you have any questions
about your rights as a research subject, you may contact Georgia Institute of Technology
Office of Research Integrity Assurance at IRB@gatech.edu.
</p>

<p>
Please click the buttons below to specify your agreement with the above
stipulations and your willingness to participate in the study:
</p>

<br />

<div style="text-align: center;">
<button onclick="window.open('/valtutorial1');" style="background: rgb(150,240,150); margin-right: 20px;">I consent to these terms.</button>
<button onclick="window.close();" style="background: rgb(240,150,150); margin-left: 20px;">I <strong>DO NOT</strong> consent to these terms.</button>
</div>

    </div>
  </body>
</html>
