<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="static/css/webchat.css" />
    <script src="static/lib/jquery-min.js" type="text/javascript"> </script>
	<script>
		$(document).ready(function() {
			console.log($('#slides'));
			setTimeout(function() {
				console.log('hey!');
				$('#slides').focus();
			}, 1000);
		});
	</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      img.center {
        display: block;
        margin: 0 auto;
      }
      table, td, th {  
        border: 1px solid #ddd;
        text-align: left;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        padding: 15px;
      }
      tr:nth-child(even) 
    </style>

    <title>Instructions</title>
    <link rel="Favicon" href="static/favicon.ico" />

    <script src="static/lib/jquery-min.js" type="text/javascript"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

<center>
<button class="msger-yes-btn" style="font-size: 1.5em;" onclick="window.close();">Return to session</button>
<br />
<br />
<iframe id="slides" src="https://docs.google.com/presentation/d/e/2PACX-1vSOvJ9VOQsUsmYHbq9B2dMkq3wDZujifCLFhubVFacWNWn9Dzq9_yJGcnCEDpvraLX99C0RMcOBV3x3/embed?start=false&loop=false&delayms=60000000" frameborder="0" width="1392" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</center>


  </body>
</html>
