#page {
	margin-left: 0px;
}

#toppanel {
	margin: auto;
	text-align: center;
}

#leftpanel {
	float: left;
	width: calc(100% - 764.4px);
	height: 65vh;
}

#rightpanel {
	float: right;
	width: 764.4px;
}

#clearingdiv {
	clear: both;
}
