#page {
	margin-left: 0px;
}

#toppanel {
	margin: auto;
	text-align: center;
}

#leftpanel {
	float: left;
	height: 85vh;
	width: calc(25% - 382.2px;);
}

.leftpanel {
	float: left;
	width: calc(25% - 382.2px;);
}

#rightpanel {
	float: right;
	width: 764.4px;
}

#clearingdiv {
	clear: both;
}
